<td>{{name}}</td>
<td>{{category}}</td>
<td>{{description}}</td>
<td>{{path}}</td>
<td class="run-col">
  <button type="submit" class="btn btn-success btn-sm" data-toggle="tooltip" {{action 'executeScript' script}}>Run</button>
</td>
